.card {
	margin-top: 2em;
	padding: 1.5em 0.5em 0.5em;
	border-radius: 2em;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
	height: 240px;
}

.card .card-title {
	font-weight: 700;
	font-size: 1.5em;
}

.fa-heart-o {
	color: red;
	cursor: pointer;
}

.fa-heart {
	color: red;
	cursor: pointer;
}